a:link {
    color: navy;
    text-decoration: none;
}

a:visited {
    color: cadetblue;
    text-decoration: blink;
}

a:active {
    color: red;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: underline
}
